/* css resets */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* General Styling */
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Header */
.header {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.header .lead {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  margin: 0;
}
.header .sub {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin: 0;
}

.header p {
  display: inline-block;
  max-width: 80%;
  color: hsl(229, 6%, 66%);
  text-align: center;
}

/* Features Section */
.features {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.features h3,
.features p {
  text-align: left;
  max-width: 80%;
}

.features p {
  color: hsl(229, 6%, 66%);
}

.feature__supervisor {
  border: 3px solid hsl(0, 0%, 98%);
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%), 0px 8px 6px hsl(0, 0%, 98%);
  padding: 0 1.5rem;
  border-top: 4px solid hsl(180, 62%, 55%);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.feature__team {
  border: 3px solid hsl(0, 0%, 98%);
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%), 0px 8px 6px hsl(0, 0%, 98%);
  padding: 0 1.5rem;
  border-top: 4px solid hsl(0, 78%, 62%);
  border-radius: 5px;
  margin-bottom: 2rem;
}
.feature__karma {
  border: 3px solid hsl(0, 0%, 98%);
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%), 0px 8px 6px hsl(0, 0%, 98%);
  padding: 0 1.5rem;
  border-top: 4px solid hsl(34, 97%, 64%);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.feature__calculator {
  border: 3px solid hsl(0, 0%, 98%);
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%), 0px 8px 6px hsl(0, 0%, 98%);
  padding: 0 1.5rem;
  border-top: 4px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.image__container img {
  height: 60px;
  width: 60px;
}
/* footer */
footer {
  max-width: 80%;
  margin: 0 auto;
}
footer p {
  text-align: center;
  color: hsl(229, 6%, 66%);
}

footer a {
  text-decoration: none;
  font-family: inherit;
  color: hsl(229, 6%, 66%);
}

/* Media Query */
@media only screen and (min-width: 1000px) {
  .container {
    display: flex;
    max-width: 1000px;
  }

  /* Header */

  .header .lead {
    font-weight: 400;
    font-size: 2rem;
    color: hsl(229, 6%, 66%);
    margin: 0;
  }
  .header .sub {
    font-weight: 600;
    font-size: 2rem;
    color: hsl(234, 12%, 34%);
    margin: 0;
  }

  .header p {
    display: inline-block;
    max-width: 60%;
    color: hsl(229, 6%, 66%);
    text-align: center;
  }

  .features h3,
  p {
    max-width: 100%;
  }
  .features p {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .features__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .feature__supervisor {
    min-width: 320px;
    /* max-height: 200px; */
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feature__team {
    justify-self: center;
    min-width: 320px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feature__karma {
    justify-self: center;
    min-width: 320px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feature__calculator {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
